html {
	background-color: black;
	color: white;
	/*;*/
	
	background-size: auto auto;
	background-repeat: repeat-y;
	background-attachment: fixed;
	
	font-family: 'Montserrat', sans-serif;
}
nav {
	background-image: url("../images/roadway.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


h1 {
	font-size: 2em; 
	font-weight: bold;
}

main {
	
  	position: relative;
	transition: transform .3s ease-in-out;
	text-align: center;

}
.skip {
	top: 0;
	left: 0;
	position: absolute;
	font-size: 15px;
	color: white;
	text-decoration: none;
	
}
.skip:hover {
	text-decoration: underline;
	color: blue;
	left: 0px;
}

div > div {
	height: auto;
	width: 370px;
	border: 1px solid white;
	margin: 5px 5px;
	
}



img{
    height: 300px;
    width:300px;
    padding: 25px;
	margin: 10px;
	object-fit: cover;
	border-radius: 10px;
	/*transform: scale(1.20);*/
	opacity: 0.9;
	transition: opacity 0.4s, transform 0.4s;
}

img:hover {
	filter: contrast(160%);
	transform: scale(1.10);
	opacity: 1;
}


h2{
	font-size: 2em; 
	font-weight: bold;
	margin: 10px;
}

p {
	padding: 10px;
	padding-top: 0px;
	margin-left: 25px;
	margin-bottom: 25px;
	margin-right: 25px;
	text-align: justify;
}

.name {
	padding-bottom: 0;
	margin-bottom: 5px;
	font-size: 1.5em;
}

h1 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
	text-align: center;
	top: 100px;
	line-height: 2;
	
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-self: center;
	position: fixed;
	bottom: 0;
}

.item {
	padding: 1em;
	border: 1px;
	margin: 2px;
	margin: 5px;
	background: rgba(250, 250, 250, 1);
	text-align: center;
}
.navlink {
	color: black;
	text-decoration: none;
}
.contactnav {
	color: black;
	text-decoration: none;
}
.contactnav:hover {
	color: black;
	
}


.navlink:hover {
	color: white;
}

.item_active {
	padding: 1em;
	border: 1px;
	margin: 2px;
	margin: 5px;
	background: rgba(0, 0, 0, 1);
	text-align: center;
}
@media screen and (prefers-reduced-motion: reduce){
    .contactnav:hover {
        transition: 0s;
    }
	.navlink:hover {
		transition: 0s;
	}
	img:hover {
		transform: scale(1.00);
		filter: contrast(100%);
	}
	.activenavlink:hover {
		transition: 0s;
	}
	

  }
.activenavlink {
	color: white;
	text-decoration: none;
}

.activenavlink:hover {
	color: white;
	
}

form {
	text-align: center;
	background: rgba(236, 236, 236, .7);
	color: black;
}
legend {
	padding: 15px;
	font-size: 50px;
	color: black;
}
fieldset {
	padding-bottom: 15px;
}
footer {
	position:absolute;
	bottom:0;
   	width:100%;
}

a.skip {
	background: white;
	color: black;
    padding: 15px;
    -webkit-transition: top 1s ease-out;
    transition: left 1s ease-out;
    z-index: 1;
    position: absolute;
    left: -500px;
	margin: 8px;
}
.skip:focus {
    left: 0px;
	outline: none;
  }

  

.grid {
	display: grid;
	
	justify-content: center;
	justify-items: center;
}
.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
	margin: 0;
	margin: -5px -5px;
	
}
.contact {
	color: black;
}

.griddivs {
	display: grid;
	justify-content: center;
	justify-items: center;
	grid-template-columns: auto;
	box-sizing: border-box;
	width: 100%;
}

.lb-container {
	height: auto;
	width: auto;
	border-color: transparent;
	margin: 0;
	border: none;
}
.lb-nav {
	border-color: transparent;
	border: none;
}
.lb-dataContainer {
	display: none;
	border: none;
}
.lb-image {
	border: none;
	padding: 0;
	margin: 0;
	opacity: 1;
}
.lb-details {
	border: none;
}
.lb-data {
	border: none;
	color: white !important;
	margin: 0;
}
.lb-closeContainer {
	display: none;
}

.flip-card {
	background-color: transparent;
	width: 300px;
	height: 200px;
	position: absolute;
	perspective: 1000px;
	margin: 8px;
	display: none;

	animation: attract_attention 2s linear /*speed*/ 3;
	
  }  
 
  @keyframes attract_attention {
	0%, 7% {
	  transform: rotateZ(0);
	}
	15% {
	  transform: rotateZ(-12deg);
	}
	20% {
	  transform: rotateZ(8deg);
	}
	25% {
	  transform: rotateZ(-8deg);
	}
	30% {
	  transform: rotateZ(4deg);
	}
	35% {
	  transform: rotateZ(-2deg);
	}
	40%, 100% {
	  transform: rotateZ(0);
	}
  }

  
  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	border: none;
	margin: 0;

	
  }
  
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
	
  }

  .special {
	  background-color: black;
	  color: black;
  }

  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border: none;
	


  }
  
  .flip-card-front {
	background-color: white;
	color: black;
	margin: 0 0;


  }
  
  .flip-card-back {
	background-color: white;
	color: white;
	transform: rotateY(180deg);
	margin: 0 0;
	

  }
  
  .flip-img {
	  padding: 0px;
	  margin: 0px;
	  width: 300px;
	  height: 200px;
	  color: black;
	  line-height: 1;

	  text-align: center;
	vertical-align: middle;
	line-height: 190px;
	
  }
  form {
	  width: 300px;
	  height: 200px;
	  background-color: white;
  }

.new {
	color: white;
	background-color: black;
	width: 100%;
}
.contact {
	color: white;
}
fieldset {
	width: 100%;
}

  @media screen and (min-width: 830px){
	nav {
		padding-top: 80px;
		padding-bottom: 80px;
		
	}
	ul {
		display: grid;
		grid-template-columns: auto auto auto auto;
		
	}
	.griddivs {
		grid-template-columns: auto auto;
	}
	.grid {
		grid-template-columns: auto auto auto auto;
		color: red;
		grid-template-rows: auto;
		justify-content: end;
	}
	.flip-card {
		display: block;
	}
	footer {
		display: none;
	}
	
}
@media screen and (min-width: 1150px){
	nav {
		padding-top: 80px;
		padding-bottom: 80px;
		
	}
	ul {
		display: grid;
		grid-template-columns: auto auto auto auto;
		
	}
	.griddivs {
		grid-template-columns: auto auto auto;
		
	}
	.flip-card {
		display: block;
	}
	.grid {
		justify-content: end;
	}
	footer {
		display: none;
	}
}


.item {
	position: relative;
	overflow: hidden;
	cursor: pointer;
  }
  
  .item a {
	position: relative;
	transition: all .35s ease-Out;
  }
  
  #slide {
	width: 100%;
	height: 100%;
	left: -200px;
	background: black;
	position: absolute;
	transition: all .35s ease-Out;
	bottom: 0;
  }
  
  .item:hover #slide {
	left: 0;
  }
  
  .item:hover a {
	color: white;
  }
  