html {
	background-color: black;
	color: white;
	/*;*/
	
	background-size: auto auto;
	background-repeat: repeat-y;
	background-attachment: fixed;
	
	font-family: 'Montserrat', sans-serif;
}
nav {
	background-image: url("../images/roadway.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


h1 {
	font-size: 2em; 
	font-weight: bold;
}

main {
	
  	position: relative;
	transition: transform .3s ease-in-out;
	text-align: center;

}
.skip {
	top: 0;
	left: 0;
	position: absolute;
	font-size: 15px;
	color: white;
	text-decoration: none;
}
.skip:hover {
	text-decoration: underline;
	color: blue;
	left: 0px;
}

div > div {
	height: auto;
	width: 370px;
	border: 1px solid white;
	margin: 5px 5px;
	
}



img{
    height: 300px;
    width:300px;
    padding: 25px;
	margin: 10px;
	object-fit: cover;
	border-radius: 10px;
	/*transform: scale(1.20);*/
	opacity: 0.9;
	transition: opacity 0.4s, transform 0.4s;
}

img:hover {
	filter: contrast(160%);
	transform: scale(1.10);
	opacity: 1;
}


h2{
	font-size: 2em; 
	font-weight: bold;
	margin: 10px;
}

p {
	padding: 10px;
	padding-top: 0px;
	margin-left: 25px;
	margin-bottom: 25px;
	margin-right: 25px;
	text-align: justify;
}

.name {
	padding-bottom: 0;
	margin-bottom: 5px;
	font-size: 1.5em;
}

h1 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
	text-align: center;
	top: 100px;
	line-height: 2;
	
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-self: center;
}

.item {
	padding: 1em;
	border: 1px;
	margin: 2px;
	margin: 5px;
	background: rgba(250, 250, 250, 1);
	text-align: center;
}
.navlink {
	color: black;
	text-decoration: none;
}
.contactnav {
	color: black;
	text-decoration: none;
}
.contactnav:hover {
	color: black;
	opacity: 0;
	transition: opacity 0.5s;
}


.navlink:hover {
	color: black;
	opacity: 0;
	transition: opacity 0.5s;
}

.item_active {
	padding: 1em;
	border: 1px;
	margin: 2px;
	margin: 5px;
	background: rgba(0, 0, 0, 1);
	text-align: center;
}
@media screen and (prefers-reduced-motion: reduce){
    .contactnav:hover {
        transition: 0s;
    }
	.navlink:hover {
		transition: 0s;
	}
	img:hover {
		transform: scale(1.00);
		filter: contrast(100%);
	}
	.activenavlink:hover {
		transition: 0s;
	}
	

  }
.activenavlink {
	color: white;
	text-decoration: none;
}

.activenavlink:hover {
	color: white;
	opacity: 0;
	transition: opacity 0.5s;
}

form {
	text-align: center;
	background: rgba(236, 236, 236, .7);
	color: black;
}
legend {
	padding: 15px;
	font-size: 50px;
	color: black;
}
fieldset {
	padding-bottom: 15px;
}
footer {
	position:absolute;
	bottom:0;
   	width:100%;
}

a.skip {
	background: white;
	color: black;
    padding: 16px;
	margin: 5px;
    -webkit-transition: top 1s ease-out;
    transition: left 1s ease-out;
    z-index: 1;
    position: absolute;
    left: -500px;
}
.skip:focus {
    left: 0px;
	outline: none;
  }

  

.grid {
	display: grid;
	justify-content: center;
	justify-items: center;
}
.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
	margin: 0;
	margin: -5px -5px;
	
}
.contact {
	color: black;
}

.griddivs {
	display: grid;
	justify-content: center;
	justify-items: center;
	box-sizing: border-box;
	width: 100%;
}

@media screen and (min-width: 400px){
    /*to add at a later date*/
}